apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    # Production Let's Encrypt server
    server: https://acme-v02.api.letsencrypt.org/directory
    
    # Email for certificate notifications (update for your organization)
    email: devops@witnessos.io
    
    # Secret to store the ACME account private key
    privateKeySecretRef:
      name: letsencrypt-prod-account-key
    
    # HTTP-01 challenge solver
    solvers:
      - http01:
          ingress:
            class: nginx
        selector:
          dnsZones:
            - "selemene.witnessos.io"
---
# Staging issuer for testing (won't rate limit)
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    # Staging Let's Encrypt server
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    
    email: devops@witnessos.io
    
    privateKeySecretRef:
      name: letsencrypt-staging-account-key
    
    solvers:
      - http01:
          ingress:
            class: nginx
