apiVersion: v1
kind: Service
metadata:
  name: selemene-api
  labels:
    app: selemene
    component: api
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
  selector:
    app: selemene
    component: api
---
apiVersion: v1
kind: Service
metadata:
  name: selemene-api-headless
  labels:
    app: selemene
    component: api
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
  selector:
    app: selemene
    component: api
